<section class="payment">
  <button>
    <a routerLink="/payment/any-bank">С карты любого банка</a>
  </button>
  <button>
    <a routerLink="/payment/own-bank">Из своего интернет банка</a>
  </button>
  <router-outlet></router-outlet>
  <!--<input type="radio" id="any-bank" name="bank-type" checked>-->
  <!--<input type="radio" id="own-bank" name="bank-type">-->
  <!--<label for="any-bank">С карты любого банка</label>-->
  <!--<label for="own-bank">Из своего интернет-банка</label>-->
</section>
