<section class="get-payment">
  <p>
    Создайте платёжку, а Индивидуальный предприниматель <span>{{client.surname}}</span>
    подпишет её у себя в интернет-банке
  </p>
  <form #pForm="ngForm">
    <div class="fields">
      <label for="inn__get-payment">ИНН получателя</label>
      <input id="inn__get-payment" type="text" placeholder="ИНН или название получателя"
             pattern="[0-9]{10,12}" minlength="10" maxlength="12" required
             name="inn" [(ngModel)]="inn" #i="ngModel">
      <label for="bik__get-payment">БИК</label>
      <input id="bik__get-payment" type="text" pattern="[0-9]{9}" maxlength="9" required
             name="bik" [(ngModel)]="bik" #b="ngModel">
      <label for="account__get-payment">Номер счёта</label>
      <input id="account__get-payment" type="text" placeholder="" required
             maxlength="20" pattern="[0-9]{20}"
             name="account-number" [(ngModel)]="accountNumber" #a="ngModel">
      <label for="reason__get-payment">За что</label>
      <input id="reason__get-payment" type="text" placeholder="Наименование платежа" required
             name="reason" [(ngModel)]="reason" #r="ngModel">
      <label>НДС</label>
      <div class="nds-fields">
        <input id="nds18__get-payment" type="radio" name="nds" class="nds18">
        <label for="nds18__get-payment" class="nds18">НДС 18%</label>
        <input id="nds10__get-payment" type="radio" name="nds" class="nds10">
        <label for="nds10__get-payment" class="nds10">НДС 10%</label>
        <input id="without-nds__get-payment" type="radio" name="nds" class="without-nds">
        <label for="without-nds__get-payment" class="without-nds">без НДС</label>
      </div>
      <label for="amount__get-payment">Сколько</label>
      <input id="amount__get-payment" type="text" placeholder="Сумма запроса" required>
      <label for="phone__get-payment">Номер телефона</label>
      <input id="phone__get-payment" type="text" placeholder="+7" required>
      <a href="#">Оставляя телефон, вы соглашаетесь на обработку персональных данных</a>
      <label for="email__get-payment">Ваша эл.почта</label>
      <input id="email__get-payment" type="email" placeholder="Для уведомления об оплате" required>
    </div>
    <button type="submit" (click)="submit(pForm)" [disabled]="pForm.invalid">
      Создать платёж
    </button>
    <button type="reset">Очистить форму</button>
  </form>
  <div [hidden]="i.valid || i.untouched" class="error__box">
    <p class="error__message">Неверный ИНН</p>
  </div>
  <div [hidden]="b.valid || b.untouched" class="error__box">
    <p class="error__message">Неверный БИК</p>
  </div>
  <div [hidden]="a.valid || a.untouched" class="error__box">
    <p class="error__message">Неверный номер счёта</p>
  </div>
  <div [hidden]="r.valid || r.untouched" class="error__box">
    <p class="error__message">"Наименование платежа" не может быть пустым</p>
  </div>
</section>
