input[type='radio']
{
  display: none;
}

.get-payment form .fields
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  padding-bottom: 30px;
}

.get-payment .fields a
{
  grid-column: span 2;
}

.nds-fields label
{
  padding: 7px 10px;
  border: 2px solid white;
}

.nds-fields input.nds18:checked ~ label.nds18,
.nds-fields input.nds10:checked ~ label.nds10,
.nds-fields input.without-nds:checked ~ label.without-nds
{
  border: 2px solid lightgray;
}

input[type='text'],
input[type='email']
{
  border: none;
  border-bottom: 2px solid lightgrey;
  max-width: 500px;
}
